### Практические задания SQL

#### Для решения задания 1 используется тренажер https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all
#### SQL запросы представлены

#### 1.1 Выбрать заказчиков из Германии, Франции и Мадрида, выведите их название, страну и адрес.

SELECT CustomerName, Country, Address FROM Customers WHERE Country IN ("Germany", "France", "Madrid");

#### 1.2 Выбрать топ 3 страны по количеству заказчиков, вывести их названия и количество записей.

SELECT Country, COUNT(CustomerName) FROM Customers GROUP BY Country ORDER BY COUNT(CustomerName) DESC LIMIT 3;

#### 1.3 Выбрать перевозчика, который отправил 10-й по времени заказ, вывести его название, и дату отправления.

SELECT Shippers.ShipperName, Orders.OrderDate FROM Orders JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID ORDER BY OrderDate LIMIT 9, 1;

#### 1.4. Выбрать самый дорогой заказ, вывести список товаров с их ценами.

SELECT t1.OrderID, t2.ProductName, t2.Price FROM OrderDetails AS t1 JOIN Products AS t2 ON t1.ProductID = t2.ProductID WHERE t1.OrderID = (SELECT t1.OrderID FROM OrderDetails AS t1 JOIN Products AS t2 ON t1.ProductID = t2.ProductID GROUP BY t1.OrderID ORDER BY SUM(t1.Quantity * t2.Price) DESC LIMIT 1);

#### 1.5. Какой товар больше всего заказывали по количеству единиц товара, вывести его название и количество единиц в каждом из заказов.

SELECT t1.OrderID, t2.ProductName, t1.Quantity FROM OrderDetails AS t1 JOIN Products AS t2 ON t1.ProductID = t2.ProductID WHERE t1.ProductID = (SELECT ProductID FROM OrderDetails GROUP BY ProductID ORDER BY SUM(Quantity) DESC LIMIT 1);

#### 1.6. Вывести топ 5 поставщиков по количеству заказов, вывести их названия, страну, контактное лицо и телефон.

SELECT t3.SupplierName, t3.Country, t3.ContactName, t3.Phone FROM OrderDetails AS t1 JOIN Products AS t2 ON t1.ProductID = t2.ProductID JOIN Suppliers AS t3 ON t2.SupplierID = t3.SupplierID GROUP BY t2.SupplierID ORDER BY COUNT(DISTINCT OrderID) DESC LIMIT 5;

#### 1.7. Какую категорию товаров заказывали больше всего по стоимости в Бразилии, вывести страну, название категории и сумму.

SELECT t3.Country, t4.CategoryName, SUM(t1.Quantity * t2.Price) AS SumPrice FROM OrderDetails AS t1 JOIN Products AS t2 ON t1.ProductID = t2.ProductID JOIN Suppliers AS t3 ON t2.SupplierID = t3.SupplierID JOIN Categories AS t4 ON t2.CategoryID = t4.CategoryID WHERE t3.Country = "Brazil" GROUP BY t2.CategoryID ORDER BY SumPrice DESC;

#### 1.8. Какая разница в стоимости между самым дорогим и самым дешевым заказом из США.

SELECT MAX(SumPriceUSA) - MIN(SumPriceUSA) FROM (SELECT t1.OrderID, SUM(t1.Quantity * t2.Price) AS SumPriceUSA  FROM OrderDetails AS t1 JOIN Products AS t2 ON t1.ProductID = t2.ProductID JOIN Suppliers AS t3 ON t2.SupplierID = t3.SupplierID WHERE t3.Country = "USA" GROUP BY t1.OrderID);

#### 1.9. Вывести количество заказов у каждого их трех самых молодых сотрудников, а также имя и фамилию во второй колонке.

SELECT COUNT(t1.OrderID), (t2.FirstName || ' ' || t2.LastName) AS EmployeeName FROM Orders AS t1 JOIN Employees AS t2 ON t1.EmployeeID = t2.EmployeeID WHERE t1.EmployeeID IN (SELECT EmployeeID FROM Employees Order by BirthDate DESC LIMIT 3) GROUP BY t2.EmployeeID;

#### 1.10. Сколько банок крабового мяса всего было заказано.

SELECT t2.ProductName, (SUM(t1.Quantity) * CAST(Unit AS UNSIGNED)) AS TotalQuantity FROM OrderDetails AS t1 JOIN Products AS t2 ON t1.ProductID = t2.ProductID WHERE t1.ProductID IN (SELECT ProductID FROM Products WHERE ProductName LIKE "%crab%") GROUP BY t1.ProductID;

#############################################################################################################################